
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100vh;
}

.flex-item {
  width: 100%;
}

.h-2-5	{
	height: 30%;
}

.h-3-5	{
	height: 70%;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.color-gray {
  color: #4C4B4B;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}


.justify-content-sa {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.box {
  height: 200px;
  border: 1px solid black;
}

.box + .box {
  margin-left: 40px;
}
.width-30 {
  width: 30%;
}

.full-width-2 {
  width: 100%;
}
.padding-40 {
  padding: 40px;
}

.font-bold {
  font-weight: bold;
}
label {
  display: block;
}

input {
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

@media (max-width: 800px) {
  .flex-container {
    margin: 0 10px 0 10px;
   
  }

  h1 {
    font-size: 1.5rem;
  }
 
  h3 {
    font-size: 1.1rem;
  }
}